@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Sriracha&display=swap');
*{
  margin: 0;
  padding:0;
  font-family: 'Poppins', sans-serif;
}
:root{
  --white:#e2e8f0;
  --red: #FF0025;
  --dark: #102545;
  --bg-dark: #040e41;
  --primary-font: 'Poppins', sans-serif;
  --heading-font: 'Sriracha', cursive;
}
.full-bg-image{
  background-image: url('./assets/full-bg-image.png');
}

/* ===============COURSES HEADER PART ================= */

.courses-nev-bg{
    background-color: white;
    border-bottom:2px solid #ddd;
}
.courses-nev .navbar-nav{
    margin-left:1rem;
    color:var(--bg-dark)
}
.courses-nev .navbar-nav .nav-link{
    color: var(--bg-dark);
}
.courses-nev-wrapper .navbar-nav .nav-item .nav-link{
    color:var(--dark)
}
.dropdown-toggle::before{
    top:40%;
    right:-4%;
}
.courses-header-wrapper{
    padding-top:5rem;
    padding-left:0;
    padding-right:0;
}
.courses-header{
    background-image: url(../assets/bg.jpg);
    
    
    color:var(--white)
}
.courses-header .course-header-title{
    background-color: rgb(4, 14, 65,.8);
    padding:1rem;
}
.courses-header .course-header-title div h1{
    font-family: var(--heading-font);
    font-size: 3.4rem;
    background-image: linear-gradient(45deg, #FF0025, #FE8B2D);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    margin: 0;
    
}
.courses-header .course-header-title h2{
    font-size: 2.3rem;
}
.course-header-title div{
    position: relative;
    z-index: 4;
}
.course-header-title div img{
    position: absolute;
    width:12rem;
    bottom:0%;
    left:calc(50% - 6rem);
    z-index: -2;
}
.courses-page-wrapper{
    padding-top:5rem;
    background-color: #F4F7FD;
}
.skill-courses-wrapper{
    margin-bottom:3rem;
    background-color: var(--bg-dark);
    padding:2.6rem;
    color:var(--white);
    border-radius: 1rem;
}
.skill-courses-wrapper h1{
    font-family: var(--heading-font);
    margin-bottom:3rem;
}
.single-course-item{
    padding:1.2rem;
    border: 2px solid rgba(248,250,252,.08);
    border-radius: 7px;
    margin-top:2rem;
}
.single-course-item:hover{
    margin-top:.85rem;
    transition: .5s;
}
.single-course-item img{
    border-radius: 6px;
    cursor: pointer;
    height: 9rem;
    width:100%;
}
.course-title{
    margin: 1.5rem 0;
    padding-bottom:.7rem;
    border-bottom:1px solid rgba(248,250,252,.045);
}
.course-title h3{
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}
.course-star{
    margin-bottom:.9rem;
}
.course-star svg{
    margin-right:.4rem;
}
.course-states{
    justify-content: space-between;
}
.students div:last-child{
    margin-left:.4rem
}
.course-prices{
    background-color: rgb(4, 9, 34);
    margin-top:1.5rem;
    padding:.7rem;
    border-radius: 5px;
    justify-content: space-between;
}
.cut-line{
    text-decoration: line-through;
}
.knowladge-up-section-wrapper{
    margin-top:5rem;
    padding-bottom:5rem;
}
.knowladg-up-heading-part h1{
    font-family: var(--heading-font);
    font-size: 3rem;
}
.knowladg-up-heading-part p{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom:3rem;
}
.knowladge-up-single-item{
    padding:1.2rem;
    align-items: flex-end;
    background-color: #fff;
    border: 1px solid #e2e8f0;
    border-radius: .5rem;
    margin:1rem;
    cursor: pointer;
}
.knowladge-up-single-item:hover{
    border-color:var(--bg-dark);
    transition: .3s;
}
.knowladge-up-single-item img{
    width:5rem;height:6rem;
}
.knowladge-up-title{
    margin-left:1.5rem;
}
.knowladge-up-title h3{
    font-size: 2rem;
}
.knowladge-up-title p{
    font-size: 1.12rem;
    color: #757576;
}
.courses-footer{
    background-color:#F4F7FD ;
    color: var(--bg-dark);
    border-top:1px solid #ddd;
}
.courses-footer .footer-link a{
    color:var(--bg-dark)
}
.courses-footer .single-social-media{
    background-color: rgba(192,204,218,.5);
}


@media only screen and (min-width:767px) and (max-width:992px){
    .courses-nev .navbar-collapse{
        background-color: var(--white);
    }
    .courses-nev .dropdown-toggle::before{
        right:4%;
    }
    .skill-courses-wrapper h1{
        margin-bottom:1rem;
    }
    .knowladge-up-single-item{
        padding:.8rem;
    }
    .knowladge-up-single-item img{
        width:3rem;
        height:3.5rem;
    }
    .knowladge-up-title h3{
        font-size: 1.3rem;
    }
    .knowladge-up-title p{
        font-size: .9rem;
    }
}
@media only screen and (min-width:576px) and (max-width:767px){
    .courses-nev .navbar-collapse{
        background-color: var(--white);
    }
    .courses-header .course-header-title div h1 {
        font-size: 2.5rem;
    }
    .courses-header .course-header-title h2 {
        font-size: 1.8rem;
    }
    .courses-nev .dropdown-toggle::before{
        right:4%;
    }
    .courses-page-wrapper{
        padding-top:2.5rem;
        
    }
    .knowladg-up-heading-part h1{
        font-size: 2.5rem;
    }
    .knowladg-up-heading-part p{
        font-size: 1.1rem;
    }
    .skill-courses-wrapper h1{
        margin-bottom:1rem;
    }
    .knowladge-up-single-item{
        padding:.8rem;
    }
    .knowladge-up-single-item img{
        width:3rem;
        height:3.5rem;
    }
    .knowladge-up-title h3{
        font-size: 1.3rem;
    }
    .knowladge-up-title p{
        font-size: .9rem;
    }
    .knowladge-up-section-wrapper{
        margin-top:2.5rem;
        padding-bottom:2.5rem;
    }
}
@media only screen and (min-width:400px) and (max-width:576px){
    .courses-nev .navbar-collapse{
        background-color: var(--white);
    }
    .courses-header .course-header-title div h1 {
        font-size: 2.5rem;
    }
    .courses-header .course-header-title h2 {
        font-size: 1.8rem;
    }
    .courses-nev .dropdown-toggle::before{
        right:4%;
    }
    .courses-page-wrapper{
        padding-top:2.5rem;
        
    }
    .knowladg-up-heading-part h1{
        font-size: 2.5rem;
    }
    .knowladg-up-heading-part p{
        font-size: 1.1rem;
    }
    .skill-courses-wrapper h1{
        margin-bottom:1rem;
    }
    .knowladge-up-single-item{
        padding:.8rem;
    }
    .knowladge-up-single-item img{
        width:3rem;
        height:3.5rem;
    }
    .knowladge-up-title h3{
        font-size: 1.3rem;
    }
    .knowladge-up-title p{
        font-size: .9rem;
    }
    .knowladge-up-section-wrapper{
        margin-top:2.5rem;
        padding-bottom:2.5rem;
    }
    .single-course-item{
        padding:.9rem;
    }
    .course-title{
        margin:.8rem 0;
    }
    .course-star{
        margin-bottom:.4rem;
    }
    .course-title h3{
        font-size: 1rem;
    }
    .students{
        font-size: .8rem;
    }
    .course-prices{
        font-size: .9rem;
        margin-top:.6rem
    }
    .skill-courses-wrapper{
        padding:1rem;
    }
}
@media only screen and (max-width:400px){
    .courses-nev .navbar-collapse{
        background-color: var(--white);
    }
    .courses-header .course-header-title div h1 {
        font-size: 2rem;
    }
    .courses-header .course-header-title h2 {
        font-size: 1.6rem;
    }
    .courses-nev .dropdown-toggle::before{
        right:4%;
    }
    .courses-page-wrapper{
        padding-top:2.5rem;
        
    }
    .knowladg-up-heading-part h1{
        font-size: 1.8rem;
    }
    .knowladg-up-heading-part p{
        font-size: 1.1rem;
    }
    .skill-courses-wrapper h1{
        margin-bottom:.5rem;
        font-size: 1.3rem;
    }
    .knowladge-up-single-item{
        padding:.8rem;
    }
    .knowladge-up-single-item img{
        width:3rem;
        height:3.5rem;
    }
    .knowladge-up-title h3{
        font-size: 1rem;
    }
    .knowladge-up-title p{
        font-size: .7rem;
    }
    .knowladge-up-section-wrapper{
        margin-top:2.5rem;
        padding-bottom:2.5rem;
    }
    .single-course-item{
        padding:.9rem;
    }
    .course-title{
        margin:.8rem 0;
    }
    .course-star{
        margin-bottom:.4rem;
    }
    .course-title h3{
        font-size: 1rem;
    }
    .students{
        font-size: .8rem;
    }
    .course-prices{
        font-size: .9rem;
        margin-top:.6rem
    }
    .skill-courses-wrapper{
        padding:2rem .9rem;
    }
    .skill-courses-main-part .col-md-6{
        margin-left:.5rem;
    }
    .single-course-item img{
        height:6.5rem;
    }
}














