

/* ===================ALL THE HOME PAGE CSS WRITE HERE================= */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Sriracha&display=swap');
*{
  margin: 0;
  padding:0;
  font-family: 'Poppins', sans-serif;
}
:root{
  --white:#e2e8f0;
  --red: #FF0025;
  --dark: #102545;
  --bg-dark: #040e41;
  --primary-font: 'Poppins', sans-serif;
  --heading-font: 'Sriracha', cursive;
}
.full-bg-image{
  background-image: url('./assets/full-bg-image.png');
}

/* ==============NAVIGATION PART================= */
.logo{
  width:10rem;
}
.nevigation{
  background-image: url('../src/assets/headerbg.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar{
  position: fixed;
  width:100%;
  z-index: 10;
}
.nav-bg{
  background-color: var(--bg-dark);
  border-bottom: 2px solid #1c324f;
}
.navbar-nav{
  margin-left:10rem;
}
.navbar-collapse{
  justify-content: space-between;
}
.navbar-nav .nav-item{
  margin:0 .5rem;
}
.navbar-nav .nav-item .nav-link{
  padding:.5rem .5rem;
  font-size: 17px;
  font-weight: 500;
  position: relative;
  color:var(--white)
}
.navbar-nav .nav-item .nav-link::after{
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--red);
  left: 0;
  bottom: 0px;
  border: none!important;
}
.dropdown-toggle::before{
  display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    right:-5%;
    top:47%;
    position: absolute;
}
.dropdown-menu{
  background-color: #030B36;
  border: 1px solid rgba(248,250,252,.08);
}
.dropdown-item:hover{
  color: var(--red);
  background-color: initial;
}
.dropdown-item{
  font-size: 17px;
  font-weight: 500;
  color:var(--white)
}
.navbar-nav .nav-item .nav-link:hover::after{
  width:100%;
  transition: .3s;
}
.navbar-nav .nav-item .nav-link:hover{
  font-weight: 500;
    background-image: linear-gradient(45deg, #FF0025, #FE8B2D);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  transition: .3s;
  font-weight: 500;
}
.active{
  color: var(--red)!important;
}
.active::after{
  content: ''!important;
  position: absolute!important;
  width: 100%!important;
  height: 2px!important;
  background-color: var(--red)!important;
  left: 0!important;
  bottom: 0px!important;
}
          /* ============= HEADER PART ============ */
.header{
  position: relative;
  z-index: 2;
  padding: 3rem 0;
  padding-top:8rem;
}
.header *{
  color:var(--white)!important;
}
.header-shape .shape-1{
  position: absolute;
  left:-20%;
  top:9%;
  z-index: -1;
  rotate: 45deg;
}
.header-shape .shape-2{
  position: absolute;
  right:5%;
  top:3%;
  z-index: -1;
  rotate: 90deg;
  width:300px;
}
 .header-right-part img{
  width:28rem;
}
.header-left-part h1, .header-left-part h1 span{
  font-family: var(--heading-font);
  font-size: 3rem;
}
.header-left-part div{
  position:relative;
  z-index: 2;
}
.header-left-part div img{
  position: absolute;
  left:45%;
  top:-62%;
  z-index: -2;
  width:13rem;
}
.header-left-part h1{
  margin:3rem 0;
}
.header-left-part h1 span{
  margin-left:20%;
  z-index: 2;
}
.creative-campus-name{
  font-weight: 500;
  background-color: #f3ec78;
    background-image: linear-gradient(45deg, #FF0025, #FE8B2D);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.lang-icon{
  display: inline-block!important;
  background-color: #0000005b;
  justify-content: center;
  align-items: center;
  padding:.3rem 1rem;
  border-radius: 1rem;
}
.lang-icon .lang-icon-div{
  padding:.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width:2.3rem;
  height: 2.3rem;
}
.lang-icon .lang-icon-div img{
  width:1.6rem;
  height:1.6rem;
}
.lang-icon-title-wrapper{
  align-items: center;
}
.lang-icon p{
  font-size: 1.2rem;
  margin-left:.5rem;
  margin-bottom:0;
}


/* ANIMATION PART  */


.header-right-part{
  position: relative;
}
.html {
  top: 10%;
  position: absolute;
  -webkit-animation: linear infinite;
  -webkit-animation-name: html-run;
  -webkit-animation-duration: 11s;
}
@-webkit-keyframes html-run {
  0% {
    left: 10%;
  }
  50% { 
    left: calc(100% - 70%); 
   }
  100% {
    left:10%;     
  }
}
.node {
  top: 70%;
  position: absolute;
  -webkit-animation: linear infinite;
  -webkit-animation-name: node-run;
  -webkit-animation-duration: 11s;
}
@-webkit-keyframes node-run {
  0% {
    left: 60%;
  }
  50% { 
    left: calc(100% - 70%); 
   }
  100% {
    left:60%;     
  }
}
.css {
  top: 20%;
  left:70%;
  position: absolute;
  -webkit-animation: linear infinite;
  -webkit-animation-name: css-run;
  -webkit-animation-duration: 11s;
}
@-webkit-keyframes css-run {
  0% {
    top: 0;
  }
  50% { 
    top: calc(100% - 70%); 
   }
  100% {
    top: 0;     
  }
}
.react {
  top: 50%;
  left:40%;
  position: absolute;
  -webkit-animation: linear infinite;
  -webkit-animation-name: react-run;
  -webkit-animation-duration: 11s;
}
@-webkit-keyframes react-run {
  0% {
    top: 20%;
  }
  50% { 
    top: calc(60% - 10%); 
   }
  100% {
    top: 20%;     
  }
}
.wordpress {
  top: 80%;
  left:5%;
  position: absolute;
  -webkit-animation: linear infinite;
  -webkit-animation-name: wordpress-run;
  -webkit-animation-duration: 11s;
}
@-webkit-keyframes wordpress-run {
  0% {
    top: 90%;
  }
  50% { 
    top: 60%; 
   }
  100% {
    top: 90%;     
  }
}


/* ====================SECTION ONE SERVICE PART START ==================== */
.section{
  padding:5rem 0;

}

.full-bg-color{
  background-color: var(--bg-dark);
}
.section-title{
  position: relative;
  z-index: 2;
  margin-bottom:4rem;
}
.section-title img{
  position: absolute;
  z-index: -2;
  bottom: 7%;
  right:17%;
}
.section-title h1{
  text-align: center;
  font-weight: 700;
  font-size: 3.5rem;
  color:var(--white)
}
.section-title h1 span{
  background-image: linear-gradient(45deg, #c40a26, #FE8B2D);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.section-one-wrapper{
  position: relative;
  background-color: var(--bg-dark);
  background-size: cover;
  background-repeat: no-repeat;
  color:var(--white);
  padding-bottom:6rem;
  
}
.section-2-lower{
  position:absolute;
  color:var(--white);
  font-weight: 600;
  top:-6%;
  left:9%;
  padding:2rem;
  border-radius: 1.5rem;
  background-image: url('./assets/coll-backgrount-1.png');
  background-size: cover;
  background-repeat: no-repeat;
  width:80%;
}
.section-2-lower .row .col-md-3 .d-flex{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-2-lower .row .col-md-3 .d-flex div, .section-2-lower .row .col-md-3 .d-flex h3{
  font-size: 1.5rem!important;
}
.section-2-lower .row .col-md-3 .d-flex div{
  margin-bottom:1.3rem;
}
.bg-design{
  background-color: rgba(132, 162, 252, 0.1);
  /* color:#040E41 */
  filter: blur(8px);
  -webkit-filter: blur(24px);
  --tw-blur: blur(24px);
  position:absolute;
}
.circul{
  width:300px;
  height:300px;
  border-radius: 50%;
}
.s-1-1{
  top:50%;
  left:15%;
}
.s-1-2,.strait{
  width:500px;
  height:8rem;
  top:30%;
  right:-0%;
  rotate: 45deg;
  border-radius: 50%;
}
.section{
  padding-top:13rem;
}
.section-one-main-part{
  margin-left:2rem;
  color:rgb(148 163 184)
}
.secrvice-toggle-wrapper{
  border-bottom: 1px solid rgb(148, 163, 184,.3);
}
.secrvice-toggle-wrapper h4{
  font-size: 16px;
  margin:0;
  padding:.5rem 0;
}
.secrvice-toggle-wrapper .d-flex{
  justify-content: space-between;
}
.secrvice-toggle-wrapper .toggle-title, .secrvice-toggle-wrapper p{
  padding:.4rem .8rem;
  margin:0;
}
.toggle-active{
  background-color: #020728;
  border-radius: 3px;
}
.service-section-img img{
  margin-top:-4rem;
}


/* =======================section-TWO-GROW-BUSINESS ========================= */

.section-2-wrapper{
  padding:1rem 0;
  color: var(--white);
  position: relative;
  background-color: var(--bg-dark);
  z-index: 2;
}
.section-2-wrapper .section-2-upper p{
  font-size: 2rem;
  margin-bottom:3rem;
  color:#040e41
}

.section-2-shape{
  opacity: .2;
}
.section-2-shape .section-2-shape-1{
  position: absolute;
  z-index: -2;
  top: 8%;
  left:25%;
}
.section-2-under-wrapper{
  background-size: cover;
  background-repeat: no-repeat;
}
.section-2-under-wrapper h1{
  font-family: var(--heading-font);
  font-size: 3rem;
}
.section-2-under-wrapper h1 span{
  background-image: linear-gradient(45deg, #c40a26, #FE8B2D);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-family: var(--heading-font);
}
.section-2-under-wrapper p{
  margin-top:3rem;
}
.section-grow-img img{
  width:25rem;
  text-align: center;
}


/* =======================SECTION THREE WORK PROCESS PART ===================== */



.work-process-area img{
  width: 80%;
}
.work-process-wrapper{
  padding-top:4rem;
}
.work-process-area img{
  width:40rem;
  margin-top:-4rem;
}
.work-process-wrapper{
  position: relative;
}
.testimonial-shape{
  left:-10%!important;
  top:20%!important;
}
.work-process-area{
  padding:0rem 2rem;
}
.work-process-main-part{
  margin-left:1rem;
  color:var(--white);
  height: 400px;
  overflow-y: scroll;
  color: rgb(148 163 184);
}
.work-process-main-part h4{
  font-size: 1.5rem;
  font-family: var(--heading-font);
}
.work-process-main-part p{
  font-size: .9rem;
  font-family: var(--primary-font);
}
.work-process-main-part::-webkit-scrollbar-track {
  padding: 2px 0;
  background-color: var(--bg-dark);
}

.work-process-main-part::-webkit-scrollbar {
  width: 7px;
}

.work-process-main-part::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgb(236, 239, 244);
  background-color: var(--bg-dark);
}
.work-process-single-part{
  margin-top:1.5rem;
  padding-left:2.7rem;
  position: relative;
  box-sizing: border-box;
}
.work-process-single-part:first-child{
  margin-top: 0;
}
.work-process-single-part::before{
  display: block;
  border-left:2px solid #724191;
  box-sizing: border-box;
    position: absolute;
    inset: 0px auto -24px 11px;
    content: "";
}
.work-process-number{
  width:1.5rem;
  height:1.5rem;
  background-color: #724191;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  left:0px;
  top:0;
}
.work-process-number p{
  margin-bottom:0;
  font-size: .8rem;
}






/* ==================SECTION FOUR TESTIMONIAL PART START ==================== */

.section-three-wrapper{
  background-color: var(--bg-dark);
  padding:5.5rem 0;
  padding-bottom:3rem;
  position: relative;
}
.section-three-bg-design{
  position: relative;
}
.shape .s-3-shape-1{
  position: absolute;
  left:-25%;
  rotate: 222deg;
  top:15%;
}
.s-3-1, .s-3-2{
  background-color: rgba(132, 162, 252, 0.1);
  /* color:#040E41 */
  filter: blur(8px);
  -webkit-filter: blur(24px);
  --tw-blur: blur(24px);
  position:absolute;
}
.s-3-1{
  width:220px;
  height:220px;
  border-radius: 50%;
}
.s-3-1{
  top:40%;
  left:40%;
}
.s-3-2{
  width:500px;
  height:8rem;
  top:30%;
  right:-0%;
  rotate: 45deg;
  border-radius: 50%;
}
.all-testimonial-wrapper .row{
  align-items: center;
}
.testimonial-wrapper{
  padding:1.5rem;
  border-radius: 1rem;
  background-color:#02072873;
  border: 1px solid rgba(248,250,252,.08);
  color:var(--white);
  margin-bottom:1.5rem;
}
.testimonial-comment{
  font-size: .8rem;
}
.testimonial-wrapper .name{
  margin-left:1rem;
}
.testimonial-wrapper .name h4{
  font-size: 1rem;
  margin-bottom:0;
}
.testimonial-wrapper .name p{
  font-size: .8rem;
}
.testimonial-left-part{
  flex-direction: column;
}


/* ====================FOOTER PART START==================== */


.footer-wrapper{
  border-top:1px solid #162842;
  padding:4rem 0;
  color:rgb(148 163 184);
  font-size: .9rem;
}
.footer-colum{
  margin-top:2rem;
}
.footer-link{
  padding:.3rem 0;
  text-align: center;
}
.footer-link div:last-child{
  margin-left:.6rem;
}
.footer-link a{
  text-decoration: none;
  color: rgb(148 163 184);
}
.footer-link a:hover{
  background-color: #f3ec78;
    background-image: linear-gradient(45deg, #FF0025, #FE8B2D);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.footer-colum h4{
  font-size: 2rem;
}
.single-social-media{
  margin-right:.6rem;
  width:2.3rem;
  height:2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(192,204,218,.1);
}
.social-media svg{
  font-size: 1.2rem;
}
.social-media svg:hover{
  color:#CC1D27;
  cursor: pointer;
}




